{% extends 'blog/base.html' %}
{% load static %}


{% block content %}

<div class="jumbotron">
  <h1>About Education.com</h1>
  <p >Thanks for visiting out site. Education.com is a non-profit organizaiton where we are trying to make the teaching mechanism more easier.
  we have a teacher panel from a variety of expertise. Currenly we are working on Information and Communication technology more easier for the high school students.
If you are a hard working high school student then you are watching the right place to enhance your knowledge for your future career.</p>
</div>

<div class="jumbotron">
  <h1>Goals and objective</h1>
  <p >Nonprofit organizations exist mainly to provide help or resources to a target audience with a specific need.
They usually serve a public purpose such as enriching the lives of people in the community, and enjoy special
considerations in terms of tax, legal status and accountability. A nonprofit organization is mission-driven,
    which requires the management and board to set objectives aimed at achieving the organization’s stated mission.</p>
</div>


<h1>Esteem panel of the organization</h1>
<img src="{% static "educationdot.jpg" %}" alt="education dot com teachers panel">
<div class="jumbotron">
  <h1>list of the member of the organization</h1>
  <dl>
    <dt>Prodip Kumar </dt>
    <dd>I have graduated from the national university of Bangladesh. My Major was chemistry and now I am working in a chemical
    industry in bangladesh. <br>
  mail:<b>prodip1253@gamil.com</b></dd>
    <dt>Mohibul Islam apon</dt>
    <dd>I have graduaed from the Bangladesh University of engineering and technology. Now I am working on my research in clinical pharmacy.
    <br>
  mail:<b>apon997@gmail.com</b></dd>
    <dt>Mahmudul hasan</dt>
    <dd>Graduating in the metallargical energy in BUET now I am completing my masters in Germany.<br>
    mail:<b>mahmudulmme122@gmail.com</b></dd>
    <dt>Md Mizanur Rahman</dt>
    <dd>I am software engineer graduated from the university of Dhaka, Bangladesh. Now I am working in a software company in
    japan.<br>
  mail:<b>mizan.mayaz@gmail.com</b></dd>
  </dl>
</div>
<div class="jumbotron">
  <h1>Help and copyright guideline</h1>
  <p >Your feedback is very important for our organizaiton. please check the about page to more about our work and
  future plan. If you have any question feel free to mail us anytime. The copyright is protected with MIT lisence 2.0</p>
</div>
{% endblock %}
